<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Push App
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="borrarMensajes()">
        <ion-icon color="danger" slot="end" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-list-header>
      <ion-label>User ID: {{pushSrv.userId}}</ion-label>
    </ion-list-header>

    <ion-list-header>
      <ion-label>Push Notifications</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let mensaje of mensajes">
      <ion-label>
        <h3>{{mensaje.title}}</h3>
        <p>{{mensaje.body}}</p>
        <p>{{mensaje.additionalData | json}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>